body{
  width:780px;
  margin: auto;
  margin-top: 15%;
  background:black;
  background-size: cover;
  font-family: sans-serif;
}

.content{
  width: 280px;
  color: white;

}

.content h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid white;
  margin-bottom: 50px;
  padding:13px;
}

.texte{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}
